{% extends 'base.html' %}
{% block title %}New{% endblock %}
{% block content %}

<br>
<div class="body">
<div class="container">
    <form method='post' action="{% url 'update' boards.id %}">
          {% csrf_token %}
          <div class="form-group">
            <label for="exampleFormControlSelect2">강의 퀄리티</label>
            <select multiple class="form-control" id="quality" name="quality">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            </select>
        </div>
          <div class="form-group">
            <label for="exampleFormControlSelect2">강의 난이도</label>
            <select multiple class="form-control" id="challenge" name="challenge">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            </select>
        </div>
          <div class="form-group">
            <label for="exampleFormControlSelect2">강의 추천</label>
            <select multiple class="form-control" id="recommend" name="recommend">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            </select>
        </div>
        <br><br>
        <h4>내용:</h4>
        <textarea class="form-control" id="content" name="content" rows="3">{{boards.content}}</textarea>
        <br><br>
        <button type="submit" class="btn btn-danger">평가완료</button>
    </form>
</div>
</div>
{% endblock %}